Library/**
Temp/**
obj/**
ProjectSettings/**
Assets/AssetStoreTools/**
**.meta
*.idea*
*.userprefs
*.csproj
*.sln
Thumbs.db
Thumbs.db.meta

*.DS_Store
*.hxtypes
*.idea
*.iml
*.lnk
*.n
*.pidb
*.pyc
*.pyc.meta
*.suo
*.swp
*.user
*.userprefs
*.vsp
*.unity3d

*.lo
*.la
*.rej
*.csproj.DotSettings
*.csproj.DotSettings.meta
*.csproj.meta
*.unityproj

# Editors
.vs
.vscode

Debug/
Release/

Slots/builds

.vs
.vscode
*.sln
*.csproj
UnityVS.unity.sln.DotSettings
Library
Temp
builds
Logs

UpgradeLog.htm
